 {% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card card-type1 my-3">
                <div class="card-body">

                    <h3 class="card-message-page-title text-center">Payment Completed</h3>

                    <div class="text-center card-message">
                        <p>Your payment request has been successfully.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}