 {% extends "base.html" %}
{% block content %}

    
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card card-type1 my-3">
                <div class="card-body">

                    <h3 class="card-message-page-title text-center">Currently New Payments are not allowed</h3>

                    <div class="text-center card-message">
                        <p>The system has been set to reject new payments.</p>
                        <p>Try later when the payments settings has been changed.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}