{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card card-type1 my-3">
                <div class="card-body">

                    <h3 class="card-message-page-title text-center">Too Many Requests</h3>

                    <div class="text-center card-message">
                        <p>Sorry for the inconvinience. </p>
					    <p>Due to many suspicous requests from your side, </p> 
					    <p>this request has been temporary blocked, Please try again later.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


